<!DOCTYPE html>
<html>
<head>
  <title>Deep unrest</title>
  <%= stylesheet_link_tag    "deep_unrest/application", media: "all" %>
  <%= javascript_include_tag "deep_unrest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
